/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .wbt-block {
     vertical-align: top;
     background: #FFF;
     padding: 10px;
 }
.hide {
    display: none;
}
.information_text {
    background: #fafafa;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
